img {
    height: 75px;
    width: 75px;
}

.subtitle {
    display: none;  
}

.green {
    background-color: green;
    border-radius: 10px;
    padding: 5px;
    color: white;
}

.yellow {
    background-color: yellow;
    border-radius: 10px;
    padding: 5px;
    color: white;
}

.orange {
    background-color: orange;
    border-radius: 10px;
    padding: 5px;
    color: white;

}
.red {
    background-color: red;
    border-radius: 10px;
    padding: 5px;
    color: white;

}
.purple {
    background-color: purple;
    border-radius: 10px;
    padding: 5px;
    color: white;
}

.el-5-day {
    margin: 10px;
}